@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);

/*
Colour palette
http://www.colourlovers.com/palette/1317408/Drifting_through
*/

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    #title {
        display: none !important;
    }
    #nav-content{
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    #mob-title{
        display: block !important;
    }
}
html, body {
    height: 100%;
}

ul {
    list-style-type:none;
}


#title {
    padding: 10px 0 10px 0;
    background-color: #3D4F5D;
    color: whitesmoke;
    width: 100%;
}

h1, h2, h3 {
    font-family: "Amatic SC", cursive;
    font-size: 3em;
    color: #343434;
}

text {
    font-family: "Amatic SC", cursive;
    font-size: 4rem;
    line-height: 8rem;
    color: whitesmoke;
}

#menu {
    /*padding-top: 20px;*/
    font-size: 40px;
    font-family: "Amatic SC", cursive;
    color: whitesmoke;
}

#separator {
    height: 3px;
    color: darkblue;
    background-color: darkblue;
}

.menu-item {
    font-family: "Amatic SC", cursive;
    cursor: pointer;
}

#my-name {
    cursor: pointer;
}

.menu-item > a {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Amatic SC", cursive;
}

.content {
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
    font-size: 1.25em;
}

.text-content {
    padding-left: 10%;
}

.circular {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    /*background: url(http://www.placecage.com/c/200/200) no-repeat;*/
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.large-title {
    font-size: 4em;
    text-align: center;
}

.text-center{
    text-align: center;
}

#latest-blog {
    background-color: #87B8D6;
}

#title-text {
    padding-left: 20px;
    font-family: "Amatic SC", cursive;
    cursor: pointer;

}

#avatar {
    margin-left: 20px;
    cursor: pointer;
}

footer {
    height: 75px;
    background-color: #263346;
    color: #b5b5b5;
}

.project-img {
    /*margin: 30px;*/
}

.image-container {
    padding: 20px 30px 20px 30px;
}

.image-container > img {
    max-height: 400px;
}

.project-container {
    padding: 16px;
}

#pipeline {
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#scraper-img {
    border: solid 10px #263346;
}

#sendwithus-img {
    border: solid 10px #ffae44;
}

#skepvic-img {
    border: solid 10px #db3d70;
}

.fixed {
    width: 100%;
    max-height: 100px;
    /*position: fixed;*/
}

#mini-nav {
    background-color: #3D4F5D;
    height: 75px;
    max-width: 100%;
}

#mob-title{
    background-color: #3D4F5D;
    display: none;
    border-bottom: 3px solid #631B33;
}

#mob-title-text {
    padding: 30px;
    color: whitesmoke;
    font-size: 1.25em;
    max-width: 600px;
    margin: auto;
}

.fixed {
    top: 0;
    position: fixed;
}

.min-nav-text {
    color: whitesmoke;
    font-family: "Amatic SC", cursive;
    font-size: 3em;
}

.min-nav-text > a {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Amatic SC", cursive;
}

.mob-nav-text {
    color: whitesmoke;
    font-family: "Amatic SC", cursive;
    /*font-size: 3em;*/
}

.mob-nav-text > a {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Amatic SC", cursive;
}

#info {
    padding: 30px;
    color: whitesmoke !important;
    font-size: 1.25em;
}

#info > p {
    /*font-family: "Amatic SC", serif;*/
    /*font-size: 25px;*/
}

#portrait {
    padding: 30px;
}

#landing {
    max-width: 1200px;
    margin: auto;
}

.pure-menu li a:hover, .pure-menu li a:focus {
    background: #db3d70 !important;
    height: 100%;

}

.pure-menu span a:hover {
    padding: 0 20px !important;
    height: 100%;
    border-bottom: 3px solid #631B33;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.2s linear;
}

.pure-menu ul {
    height: 100%;
}

.pure-menu li{
    height: 100%;
}

.pure-menu span a {
    padding: 0 20px !important;
    height: 100%;
}

#nav-buttons {
    max-width: 700px;
    margin: auto;
    max-height: 76px;
}

#nav-content {
    max-width: 100%;
    background-color: #3D4F5D;
    border-bottom: solid 4px #631B33;
}

path {
    /*stroke: #BBBBBB;*/
    stroke-width: 4px;
}

.info-text {
    padding-left: 16px;
    padding-right: 16px;
    color: #565656;
}

.info-text > p > a{
    color: #3B8BBA;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    #menu, #menuLink {
        visibility: hidden;
        left: 160px;
    }
}

/* --------------------------
 * Main Navigation Bar Styles
 * --------------------------
*/

#menu {
    margin-left: -160px; /* "#menu" width */
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #3D4F5D;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#menu > ul {
    width: 100%;
    padding: 0 !important;
    overflow-y: hidden;
    overflow: hidden;
}
#menu > ul > li {
    padding: 0 10px 0 10px !important;
    border-bottom: 3px solid #631B33;
}

#bottom {
    border-bottom: 0 !important;
}

#menuLink {
    position: fixed;
    z-index: 1000;
    background-color: rgba(61, 79, 93, .8);
    font-size: 40px;
    color: whitesmoke;
    height: 45px;
    width: 45px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
#menuLink > span{
    font-family: "Amatic SC", Sans-serif;
    font-weight: bolder;
}
